<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AnAndroidApp.FourDigitNumber"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
      	<!-- Note: This custom permission name should begin with your application's package name! -->
    <permission
    android:name="com.geoloqi.android.sample.permission.C2D_MESSAGE"
    android:protectionLevel="signature" />
    
  	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  	<uses-permission android:name="android.permission.INTERNET"/>
  	
	<!-- These permissions are required to enable the C2DM features of the SDK. -->
	<uses-permission android:name="com.geoloqi.android.sample.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />	

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".FourDigitNumberActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>